<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>疫情监控</title>
		<script src="/static/assets/js/jquery.js"></script>
		<script src="/static/assets/js/echarts.min.js"></script>
		<script src="/static/assets/js/china.js"></script>
		<script src="/static/assets/js/worldcloud.js"></script>
		<link href="/static/assets/css/main.css" rel="stylesheet" />
	</head>
	<body>
		<div id="title">全国气象数据预测</div>
		<div id="time"></div>
		<div id="l1"></div>
		<div id="l2"></div>
		<div id="c1">
			<div class="num">
				<h1></h1>
			</div>
			<div class="num">
				<h1></h1>
			</div>
			<div class="num">
				<h1></h1>
			</div>
			<div class="num">
				<h1></h1>
			</div>
			<div class="txt">
				<h2>露点预测</h2>
			</div>
			<div class="txt">
				<h2>风速预测</h2>
			</div>
			<div class="txt">
				<h2>气压预测</h2>
			</div>
			<div class="txt">
				<h2>风向预测</h2>
			</div>

		</div>
		<div id="c2"></div>
		<div id="r1"></div>
		<div id="r2"></div>
		<script src="/static/assets/js/ec_center.js"></script>
		<script src="/static/assets/js/ec_left1.js"></script>
		<script src="/static/assets/js/ec_left2.js"></script>
		<script src="/static/assets/js/ec_right1.js"></script>
		<script src="/static/assets/js/ec_right2.js"></script>
	</body>
</html>
