
<!DOCTYPE html>
<html lang="zxx">

<!-- Head -->

<head>

    <title>Universe Signin Form Flat Responsive Widget Template :: W3layouts</title>

    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- style CSS -->
    <link rel="stylesheet" href="static/assets/css/user_login_style.css" type="text/css" media="all">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<!-- //Head -->

<!-- Body -->

<body>

    <section class="main">
        <div class="logo text-center">
            <h1> <a href="index.html">用户注册</a></h1>
        </div>
        <div class="content-w3ls text-center">
            <img src="static/assets/images/admin_user.png" alt="" class="img-responsive">
            <form action="#" method="post">
                <div class="wthree-field">
                    <input name="username" id="text1" type="text" value="" placeholder="Username" required>
                </div>
                <div class="wthree-field">
                    <input name="password" id="myInput" type="Password" placeholder="Password">
                </div>
                <div class="wthree-field">
                    <button type="submit" class="btn">注册</button>
                </div>
                <div class="login-bottom">
                    <a href="#url" class="">Create An Account</a>
                </div>
            </form>
        </div>
        <div class="copyright">
            <p>© 2020 Universe Signin Form. Made with love | Designed by <a
                href="https://w3layouts.com" target="_blank">W3layouts</a></p>
        </div>
    </section>

</body>
<!-- //Body -->

</html>